# Series
특성 하나의 데이터를 관리할 수 있다.

In [1]:
import pandas as pd

### Series 생성

In [2]:
# 인덱스를 설정하지 않으면 0부터 시작한다.
s1 = pd.Series([9904312, 3448737, 2890451, 2466052])
s1

0    9904312
1    3448737
2    2890451
3    2466052
dtype: int64

In [3]:
# 인덱스 설정, 인덱스의 수와 데이터의 수는 일치해야 한다.
s2 = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=['서울', '부산', '인천', '대구'])
s2

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [4]:
# 인덱스 목록
s2.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [5]:
# Series의 이름 
s2.name = '인구'
# 인덱스의 이름
s2.index.name = '도시'
s2

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [6]:
# 행렬 연산
a1 = s2 + 1000000
a2 = s2 - 500000
a3 = s2 * 10
a4 = s2 // 10
print(s2)
print(a1)
print(a2)
print(a3)
print(a4)

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64
도시
서울    10904312
부산     4448737
인천     3890451
대구     3466052
Name: 인구, dtype: int64
도시
서울    9404312
부산    2948737
인천    2390451
대구    1966052
Name: 인구, dtype: int64
도시
서울    99043120
부산    34487370
인천    28904510
대구    24660520
Name: 인구, dtype: int64
도시
서울    990431
부산    344873
인천    289045
대구    246605
Name: 인구, dtype: int64

In [7]:
# 데이터 가져오기 (인덱스와 이름 둘 다 가능하다.)
print(s2[0], s2['서울'])
print(s2[3], s2['대구'])

9904312 9904312
2466052 2466052

In [8]:
print(s2[[0,1,2]])
print(s2[['서울','인천','부산']])

도시
서울    9904312
부산    3448737
인천    2890451
Name: 인구, dtype: int64
도시
서울    9904312
인천    2890451
부산    3448737
Name: 인구, dtype: int64

In [15]:
s3 = (s2 > 2500000) & (s2 < 5000000)
s4 = s2[s3]
s4

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [16]:
s5 = s2[(s2 > 2500000) & (s2 < 5000000)]
s5

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [13]:
# 인덱스 0 ~ 3 -1 까지
a1 = s2[0:3]
a1

도시
서울    9904312
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [14]:
# 인덱스 서울 ~ 인천
a2 = a2['서울':'인천']
a2

도시
서울    9404312
부산    2948737
인천    2390451
Name: 인구, dtype: int64

In [18]:
# 값 가져오기
print(s2[0], s2['서울'], s2.서울)

9904312 9904312 9904312

### Series 생성

In [19]:
# 1챠원 리스트, 행렬을 통해 생성
list1 = [100,200,300,400,500]
index1 = ['항목1','항목2','항목3','항목4','항목5']
s2 = pd.Series(list1, index=index1, name='시리즈1')
s2

항목1    100
항목2    200
항목3    300
항목4    400
항목5    500
Name: 시리즈1, dtype: int64

In [28]:
# 딕셔너리 통한 생성
dict1 = {
    '항목1':100, '항목2':200, '항목3':300,'항목4':400,'항목5':500 }

# 인덱스를 셋팅하게 되면 인데스의 문자열과 동일한 이름으로 
# 저장되어 있는 데이터만 가져와 생성한다.

index2 = ['항목1','항목3','항목5']
s3 = pd.Series(dict1, index=index2, name='시리즈1')
s3

항목1    100
항목3    300
항목5    500
Name: 시리즈1, dtype: int64

In [29]:
# 데이터 갱신
s3[0]= 5000
s3['항목1'] = 1000
s3.항목3 = 3000
s3

항목1    1000
항목3    3000
항목5     500
Name: 시리즈1, dtype: int64

In [30]:
# 없는 인덱스를 이용해 값을 넣어주면 추가된다.
s3['항목2'] = 2000
s3

항목1    1000
항목3    3000
항목5     500
항목2    2000
Name: 시리즈1, dtype: int64

In [31]:
# 삭제
del s3['항목2']
s3

항목1    1000
항목3    3000
항목5     500
Name: 시리즈1, dtype: int64