### DataFrame 생성

In [1]:
import pandas as pd

In [13]:
dict1 = {
        '2015':[9940443, 3049239, 4850928, 4503200],
        '2010':[8572092, 3944003, 9905393, 2283433],
        '2005':[3822392, 2480033, 1058393, 1283033],
        '2000':[8230392, 6784003, 8805393, 3283433],
        '지역':['수도권', '경상권', '수도권', '경상권'],
        '증가율':[0.0234, 0.0384, 0.08574, 0.0234]
        }

option1 = ['지역', '2000', '2005', '2010', '2015', '증가율']
option2 = ['서울', '부산', '인천', '대구']

df1 = pd.DataFrame(dict1, columns=option1, index=option2)
df1

     지역     2000     2005     2010     2015      증가율
서울  수도권  8230392  3822392  8572092  9940443  0.02340
부산  경상권  6784003  2480033  3944003  3049239  0.03840
인천  수도권  8805393  1058393  9905393  4850928  0.08574
대구  경상권  3283433  1283033  2283433  4503200  0.02340

In [15]:
list1 = [
    [100, 200, 300],
    [1000, 2000, 3000],
    [10000, 20000, 30000]
]

option3 = ['항목1', '항목2', '항목3']
option4 = ['로우1', '로우2', '로우3']

df2 = pd.DataFrame(list1, columns=option3, index=option4)
df2

       항목1    항목2    항목3
로우1    100    200    300
로우2   1000   2000   3000
로우3  10000  20000  30000