numpy처럼 쉼표(,)를 이용해 인덱싱할 수 있는 함수들 :
- loc  : 특성갑 기반의 2차원 인덱싱
- iloc : 순서를 타나내는 정수 기반의 2차원 인덱싱

In [1]:
import pandas as pd
import numpy as np

In [6]:
option1 = ['a1', 'a2', 'a3']
option2 = ['b1', 'b2', 'b3', 'b4']

df1 = pd.DataFrame(np.arange(10, 22).reshape(3,4), index=option1, columns=option2)
df1

    b1  b2  b3  b4
a1  10  11  12  13
a2  14  15  16  17
a3  18  19  20  21

In [7]:
# 행 하나의 데이터를 시리즈로 가져온다.
# df1['a1':'a1']
df1.loc['a1']

b1    10
b2    11
b3    12
b4    13
Name: a1, dtype: int32

In [8]:
# a1 행 ~ 2행
# df1['a1':'a2']

In [10]:
# 특정 행만 가져온다. # 행은 loc로 가져온다.
# df1[['a1', 'a3']]
df1.loc[['a1','a3']]

    b1  b2  b3  b4
a1  10  11  12  13
a3  18  19  20  21

In [11]:
df1['b1'] > 15

a1    False
a2    False
a3     True
Name: b1, dtype: bool

In [12]:
# b1 특성의 값이 15보다 큰 열만 가져온다.
df1.loc[df1['b1'] > 15]

    b1  b2  b3  b4
a3  18  19  20  21

In [13]:
# a2행의 b2값을 가져온다.
df1.loc['a2','b2']

15

In [14]:
# a1 ~ a2 행의 b2 값을 가져온다.
df1.loc['a1':'a2', 'b2']

a1    11
a2    15
Name: b2, dtype: int32

In [15]:
# a1 ~ a2 행의 b1 ~ b3 값을 가져온다.
df1.loc['a1':'a2', 'b1':'b3']

    b1  b2  b3
a1  10  11  12
a2  14  15  16

In [17]:
# a1, a3행의 b1, b3 값을 가져온다.
df1.loc[['a1','a3'],['b1','b3']] # loc는 열이나 행을 묶는 기법이 동일하다.

    b1  b3
a1  10  12
a3  18  20

In [19]:
# 모든 열의 b1, b3값을 가져온다.
# df1[['b1','b3']]
df1.loc[:,['b1','b3']] # 콜론찌으면 처음부터 끝까지

# 열, 행이라는 거 꼭 기억하자~!

    b1  b3
a1  10  12
a2  14  16
a3  18  20

In [20]:
# a1, a3 행의 모든 특성값을 가져온다.
#df1.lox[['a1', 'a3']]
df1.loc[['a1','a3'], :]

    b1  b2  b3  b4
a1  10  11  12  13
a3  18  19  20  21

### iloc
loc가 특성이나 행의 이름을 설정하고, iloc 인덱스 번호를 설정한다.

특성의 이름이나 행의 이름이 문자열로 되어 있어도 가능하다.

- 특성 탐색은 loc (데이터의 의미를 알 수 있다)
- 행 탐색은 iloc (아무것도 안붙인다.)

In [21]:
# 0행, 1열
df1.iloc[0,1]

11

In [22]:
df1.iloc[:2, 2]

a1    12
a2    16
Name: b3, dtype: int32

In [23]:
# 2 ~ 3 -1 행, 1 ~ 3 -1 열 데이터
df1.iloc[2:3, 1:3]

    b2  b3
a3  19  20