In [1]:
import numpy as np
import pandas as pd

# 데이터 개수 세기

In [6]:
# s1 = pd.Series(range(10))
s1[3] = np.nan #nan : 결측치(비어잇는 칸)
s1.count()

# 결측치가 있는지 없는지 확인하기 위해 카운트하기 좋다.

9

In [14]:
# 데이터 프레임인 경우 각 특성의 행의 개수를 계산해서 반환한다.
# 이때 nan은 제외한다. 특성에 결측치가 있는지 확인하는 용도로 사용한다.

df1 = pd.DataFrame(np.arange(20).reshape(4,5))
df1.iloc[2,3] = np.nan
df1.count()

# 결측치가 있다면 그것을 어떻게 처리할 것인가?
# 문자열 데이터도 데이터 시각화하는데 문제가 생길 수도 있다.
# 그래프 시각화하는데는 문제 없지만, 머신러닝에는 무제가 생긴다. (데이터프레임으로 바꿔줘야 한다.)

# 비워있는 공간을 인위적으로 평균값을 집어넣던지 해야한다. 전체 평균에 문제가 되지 않는 값을 결측치자리에 넣어준다.
# 이때 정확도는 떨어질 수 도 있다.

0    4
1    4
2    4
3    3
4    4
dtype: int64

### 카테고리 값 세기

In [19]:
s2 = pd.Series(np.random.randint(1, 46, size=1000))
s2.value_counts().head(6) # 양에 대한 수치이다.

13    37
20    34
37    30
3     30
11    28
41    28
dtype: int64

In [20]:
df1[3].value_counts()

18.0    1
8.0     1
3.0     1
Name: 3, dtype: int64

In [25]:
df2 = pd.DataFrame(np.random.randint(10, size=(4,8)))
df2

   0  1  2  3  4  5  6  7
0  7  2  8  2  3  2  3  7
1  2  6  1  4  5  7  7  6
2  0  1  7  2  6  7  4  9
3  6  8  2  0  8  1  5  0

In [26]:
# 행의 합계
df2.sum(axis=1)

0    34
1    38
2    36
3    30
dtype: int64

In [27]:
# 열의 합계
df2.sum(axis=0)

0    15
1    17
2    18
3     8
4    22
5    17
6    19
7    22
dtype: int64